/* inter-regular - latin */ 
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('assets/inter-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('assets/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --c-green: hsl(75, 94%, 57%);
  --c-white: hsl(0, 0%, 100%);
  --c-grey-700: hsl(0, 0%, 20%);
  --c-grey-800: hsl(0, 0%, 12%);
  --c-grey-900: hsl(0, 0%, 8%);

  --c-background: var(--c-grey-900);
  --c-card: var(--c-grey-800);
  --c-links: var(--c-grey-700);
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Inter';
  background-color: var(--c-background);
}

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card-container {
  background-color: var(--c-card);
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem;
  border-radius: 10px;
  gap: 1.5rem
}

.img-container {
  max-width: 29%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.35rem;
}

.user-info h1 {
  color: var(--c-white);
  font-weight: 400;
  line-height: 150%;
  font-size: 1.5rem;
}

.user-info p {
  color: var(--c-green);
  font-size: 0.875rem;
  font-weight: 600;
}

.user-statement {
  color: var(--c-white);
  font-weight: 400;
  font-size: 0.875rem;
  padding-top: 0.25rem;
}

.user-links {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  width: 100%;
  text-align: center;
}

.user-links a {
  background-color: var(--c-grey-700);
  color: var(--c-white);
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
  padding: 0.938rem;
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.user-links a:hover {
  background-color: var(--c-green);
  color: var(--c-grey-900);
}